
/* import css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@100&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@100&display=swap');


body{
    margin: 0;
    padding: 0;
}

/* navigation css */

.navbar{
    background-color: #FFFFFF!important;
}
.navbar-brand{
font-style: normal;
font-weight: bold;
font-size: 22px;
color: #3E3E3E;

font-weight: 500;
font-size: 16px;
}
.nav-link{

    color: #3E3E3E;
    font-weight: bold;
    font-weight: 500;
    font-size: 16px;

}


/* carousel css */
.carousel img{
    width: 100%;
    height: 580px;
}

.carousel .carousel-caption h2{
  font-family:'Merriweather', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.book-btn{
    padding:10px 43px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #3F87F5;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 30px 0px;
    text-decoration: none;
}




/* packages css */

.plan-btn{
   padding: 13px 30px;
   font-family: 'Merriweather', serif;
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   line-height: 18px;
   text-align: center;
   color: #3F87F5;
   background: rgba(244, 150, 209,0.1);
   mix-blend-mode: normal;
  text-decoration: none;
   border-radius: 24px;

}


.our-packages{
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-packages .package{
    height: 460px;
}
.our-packages .package:hover{
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    transform:translateY(-30px);
    background: #3F87F5;
    transition-duration: 0.6s;
    color: #FFFFFF;
   
}

.package:hover .plan-btn{
    background: #FFFFFF;
    color: #3F87F5;
   
}

.our-packages .active {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    transform:translateY(-30px);
}
.start{
    left:80%;
}




/* faq section css */
.image-div{
    width: 500px;
 
}
.center {
    text-align: center;
    padding-bottom: 55px;
}

.services-wrap p:last-child {
    margin: 0;
}

.services-wrap:hover {
    background-color: #fafafac2;
    box-shadow: 0px 42px 34px rgba(193, 198, 206, 0.4);
    border-radius: 8px;
}

.services-wrap h3 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #333333;
    font-weight: 700;
}

.services-wrap .pull-left {
    margin-right: 40px;
    margin-top: 15px;
}

.toast .toast-body{
    border-left: 10px solid #3F87F5;;
}